pydentic
pydantic[email]
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia


langchain-community
faiss-cpu
langchain_google_genai
pypdf
langchain_huggingface
langchain_pinecone

youtube_search
langchain-tavily

langgraph
langchain-chroma
chromadb
tweepy
duckduckgo-search
yfinance
